::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f9b03387; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #00509fbe; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #004F9F; 
  }